body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color:white;
    background-color: black;
}
#contenedor{
    
}
#contenedor header{
    display: flex;
}
#contenedor header h1{
    padding: 20px;
}
#links nav{
    position: absolute;
    top: 0;
    right: 0;
    padding: 80px;
    display: flex;
}
#links nav a{
    color: black;
    background-color: pink;
    text-decoration: none;
    border-radius: 0.5em;
    padding: 1em;
}
#lorem1 span{
    display: flex;
    width: 500px;

}
#lorem2 span{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    right: 0;
}
#lorem2 a{
    text-decoration: none;
    color: black;
    background-color: pink;
    border-radius: 0.5em;
    padding: 1em;
    position: absolute;
    top: 200%;
}
#foto img{
    width: 1000px;
}
#cajas{
    display: flex;
}
#cajas div a{
    text-decoration: none;
    color: black;
    background-color: pink;
    border-radius: 0.5em;
    display: inline-block;
}
#lineas{
    background-color: pink;
}
#linea2{
    background-color: red;
}
article{
    display: inline-block;
    padding: 2em;
}
article span{
    padding: 1em;
}
#galeria{
    font-size: 0;
}
#galeria img{
    padding: 2rem;
    box-sizing: border-box;
}
#lineas{
    background-color: pink;
    display: flex;
}
#lineas #linea1{
    background-color: pink;
    width: 800%;
    height: 2px;
    display: inline-block;
    padding: 2px;
}
#lineas #linea2{
    background-color: red;
    width: 800%;
    height: 2px;
    display: inline-block;
    padding: 2px;
}
#lineas #linea3{
    background-color: pink;
    width: 800%;
    height: 2px;
    display: inline-block;
    padding: 2px;
}
#lineas #linea4{
    background-color: pink;
    width: 800%;
    height: 2px;
    display: inline-block;
    padding: 2px;
}
#testimonios{
    display: flex;
}
#testimonio1 img{
    width: 100px;
    height: 100px;
    padding: 1em;
    border-radius: 400px;
}
#testimonio2 img{
    width: 100px;
    height: 100px;
    padding: 1em;
    border-radius: 400px;
}
#testimonio3 img{
    width: 100px;
    height: 100px;
    padding: 1em;
    border-radius: 400px;
}
form{
    padding-left: 500px;
}
form span{
    display: block;
    text-align: center;
    padding-right: 650px;
}
form label{
    display: block;
    padding: 10px;
}
form input{
    display: block;
    padding: 10px;
}
form textarea{
    display: block;
    padding: 10px;
}
form button{
    display: block;
    padding: 15px;
    width: 150px;
    color: black;
    background-color: pink;
    border-radius: 0.5em;
    left: 20px;
    position: relative;
}
#redes{
    background-color: pink;
    display: flex;
    width: 200px;
    position: relative;
    left: 480px;
    padding: 20px;
}
footer{
    position: absolute;
    left: 440px;
    color: pink;
    padding: 40px;
}