#caja1{
    background-color: red;
    font-size: 2em;
    padding: 1em;
}

@media( width > 1000px) {
    background-color: aqua;
}

@media(width < 800px){
    display: none;
}

@media print{
    display: none;
}
