body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(58, 60, 215);
}
#contenedor{
    background-color: white;
    padding: 0 2em;
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
}
header{
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    color: rgb(20, 87, 123);
}
header img{
    width: 30%;
    display: block;
    margin: 0 auto;
    min-width: 200px;
}
nav{
    background-color: rgb(20, 87, 123);
    padding: 0 2rem;
    position: sticky;
    top: 0;
    margin: 1em 0;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 0.5em;
    display: inline-block;
    font-size: 1.2em;
    transition: 0.3s;
    z-index: 20;
}
nav a:hover{
    background-color: rgb(8, 45, 64);
}
hr{
    background-color: rgb(8, 45, 64);
    max-height: 2em;
    padding: 0.1em;
}
form{
    padding: 32px;
}
form span{
    font-weight: 600;
    display: block;
    padding-bottom: 1em;
}
span button{
    background-color: rgb(85, 120, 235);
    display: inline-block;
    cursor: pointer;
    padding: 1em;
    border-radius: 0.5em;
}
footer{
    background-color: gray;
    color: black;
    padding: 0.5em 2em;
}
footer > img{
    width: 40px;
    vertical-align: middle;
}