@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
h2{
    margin: 0;
}
.caja{
    width: 300px;
    padding: 16px;
    margin: 16px auto;
}
#texto1{
    background-color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    text-align-last: center;
}
#texto1 span{
    text-decoration: underline;
    text-decoration-color: #FFFF00;
    text-decoration-thickness: 4px;
    font-weight: 600;
    text-transform: uppercase;
}
#texto2{
    background-color: lightcoral;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 150%;
    letter-spacing: 2px;
}
#texto3{
    font-family: 'Times New Roman', Times, serif;
    background-color: #8080ff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#texto3:hover{
    white-space: wrap;
}
#texto4{
    font-family: "IBM Plex Serif", serif;
    background-color: #f5f5055b;
}
#texto5{
    background-color: #05f5995b;
    column-count: 2;
    column-gap: 25px;
    column-rule: solid 1px black;
}